# Exploratory data analysis

### Data cleaning

In [38]:
import pandas as pd
df_univ = pd.read_csv("World University Rankings 2023.csv")
df_univ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [39]:
df_univ.shape

(2341, 13)

In [40]:
df_univ.isna().sum()

University Rank                  0
Name of University             108
Location                       294
No of student                  132
No of student per staff        133
International Student          132
Female:Male Ratio              213
OverAll Score                  542
Teaching Score                 542
Research Score                 542
Citations Score                542
Industry Income Score          542
International Outlook Score    542
dtype: int64

Let's drop rows with NaN values.

In [41]:
df_univ = df_univ.dropna()
df_univ.shape

(1488, 13)

Some numerical variables are labelled as objects. Let's investigate further.

In [42]:
df_univ[["No of student", "International Student", "Female:Male Ratio", "OverAll Score"]].head()

  No of student International Student Female:Male Ratio OverAll Score
0        20,965                   42%           48 : 52          96.4
1        21,887                   25%           50 : 50          95.2
2        20,185                   39%           47 : 53          94.8
3        16,164                   24%           46 : 54          94.8
4        11,415                   33%           40 : 60          94.2

* The column "No of student" needs to be converted to int.
* The column "international Student", containing percentages, can be converted to float.
* The Female:Male Ratio can be approached as a division of female by male.
* The OverAll Score will be converted to float type.

In [43]:
import numpy as np

df_univ["No of student"] = df_univ["No of student"].astype(str)

df_univ["No of student"] = df_univ["No of student"].str.replace(",", "")

# we need to replace empty strings with NaN to avoid type conversion issues.
df_univ["International Student"] = df_univ["International Student"].replace('', np.nan)

df_univ["No of student"] = df_univ["No of student"].astype(int)

df_univ["No of student"].head()

0    20965
1    21887
2    20185
3    16164
4    11415
Name: No of student, dtype: int64

In [44]:
df_univ["International Student"] = df_univ["International Student"].astype(str)

df_univ["International Student"] = df_univ["International Student"].str.replace('%', '').str.strip()

# we need to replace empty strings with NaN to avoid type conversion issues.
df_univ["International Student"] = df_univ["International Student"].replace('', np.nan)

df_univ["International Student"] = df_univ["International Student"].astype(float)

df_univ["International Student"].head()

0    42.0
1    25.0
2    39.0
3    24.0
4    33.0
Name: International Student, dtype: float64

In [45]:
print(df_univ["Female:Male Ratio"])

def convert_ratio(str_ratio):
    try:
        split = str_ratio.split(":")
        numerator = float(split[0])
        denominator = float(split[1])
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        return 100
    
df_univ = df_univ[df_univ["Female:Male Ratio"].apply(lambda x: len(str(x)) == 7)]
df_univ["Female:Male Ratio_modif"] = df_univ["Female:Male Ratio"].apply(lambda x: convert_ratio(x))
df_univ.head(25)

0       48 : 52
1       50 : 50
2       47 : 53
3       46 : 54
4       40 : 60
         ...
1692    35 : 65
1693    38 : 62
1694    39 : 61
1695    55 : 45
1696    47 : 53
Name: Female:Male Ratio, Length: 1488, dtype: object

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female:Male Ratio_modif
0,1,University of Oxford,United Kingdom,20965,10.6,42.0,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2,0.923077
1,2,Harvard University,United States,21887,9.6,25.0,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5,1.000000
2,3,University of Cambridge,United Kingdom,20185,11.3,39.0,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8,0.886792
3,3,Stanford University,United States,16164,7.1,24.0,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8,0.851852
4,5,Massachusetts Institute of Technology,United States,11415,8.2,33.0,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3,0.666667
5,6,California Institute of Technology,United States,2237,6.2,34.0,37 : 63,94.1,90.9,97.0,97.3,89.8,83.6,0.587302
6,7,Princeton University,United States,8279,8.0,23.0,46 : 54,92.4,87.6,95.9,99.1,66.0,80.3,0.851852
7,8,"University of California, Berkeley",United States,40921,18.4,24.0,52 : 48,92.1,86.4,95.8,99.0,76.8,78.4,1.083333
8,9,Yale University,United States,13482,5.9,21.0,52 : 48,91.4,92.6,92.7,97.0,55.0,70.9,1.083333
9,10,Imperial College London,United Kingdom,18545,11.2,61.0,40 : 60,90.4,82.8,90.8,98.3,59.8,97.5,0.666667
11,11,ETH Zurich,Switzerland,21665,14.8,41.0,33 : 67,89.4,82.6,95.4,90.7,59.1,97.7,0.492537
12,13,The University of Chicago,United States,15366,6.0,36.0,47 : 53,88.9,86.5,88.8,97.7,56.2,74.2,0.886792
13,14,University of Pennsylvania,United States,21453,6.3,23.0,53 : 47,88.8,86.0,88.8,97.0,75.8,71.5,1.127660
14,15,Johns Hopkins University,United States,17584,4.7,29.0,53 : 47,88.3,79.4,91.5,97.0,89.5,75.3,1.127660
17,18,University of Toronto,Canada,77468,25.8,26.0,56 : 44,87.4,77.3,93.3,92.8,65.5,89.7,1.272727
19,20,Cornell University,United States,24027,10.3,26.0,51 : 49,85.9,80.2,86.1,97.3,40.4,76.9,1.040816
20,21,"University of California, Los Angeles",United States,42434,9.7,16.0,56 : 44,85.8,80.4,88.9,95.4,58.8,65.0,1.272727
21,22,UCL,United Kingdom,36790,10.3,60.0,59 : 41,85.7,74.5,85.4,97.9,44.5,96.7,1.439024
22,23,University of Michigan-Ann Arbor,United States,45912,8.2,17.0,50 : 50,82.9,79.3,84.6,93.6,48.7,59.2,1.000000
23,24,New York University,United States,36337,9.8,42.0,57 : 43,82.7,74.2,84.0,95.0,44.6,74.7,1.325581
24,25,Duke University,United States,16091,4.2,24.0,52 : 48,82.6,78.1,76.2,95.7,99.6,68.0,1.083333
25,26,Northwestern University,United States,19175,13.2,20.0,51 : 49,82.1,71.7,80.7,97.5,85.0,67.0,1.040816
26,26,University of Washington,United States,47727,10.8,18.0,55 : 45,82.1,71.6,82.8,98.9,53.9,63.0,1.222222
27,28,Carnegie Mellon University,United States,14305,12.9,47.0,44 : 56,81.1,65.4,81.8,98.7,55.2,80.1,0.785714
28,29,University of Edinburgh,United Kingdom,32845,11.8,47.0,62 : 38,79.8,66.9,74.5,97.1,40.9,95.6,1.631579

It can be interesting to have a look at the overall mean of female:male ratio to see if universities included in the ranking are populated by a majority of men or women.

In [46]:
df_univ["Female:Male Ratio_modif"].mean()

1.5597533644018167

The answer is that the average female:male ratio in ranked universities is at the advantage of women. A part of the answer lies in the fact that the data includes six women-only colleges (see below).

In [47]:
df_univ[df_univ["Female:Male Ratio"].apply(lambda x: float(x.split(":")[0]) == 100)]

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female:Male Ratio_modif
812,801–1000,Ewha Womans University,South Korea,14746,17.5,13.0,100 : 0,29.8–33.9,32.3,33.1,26.2,70.4,44.3,100.0
911,801–1000,Princess Nourah bint Abdulrahman University,Saudi Arabia,25955,13.1,15.0,100 : 0,29.8–33.9,22.9,13.6,46.3,45.6,85.5,100.0
1180,1201–1500,Banasthali University,India,10092,17.1,5.0,100 : 0,18.4–24.3,34.7,11.0,26.3,43.2,21.8,100.0
1285,1201–1500,Lahore College for Women University (LCWU),Pakistan,10457,17.7,0.0,100 : 0,18.4–24.3,22.8,8.8,27.5,36.9,28.7,100.0
1448,1501+,Alzahra University,Iran,10128,23.6,2.0,100 : 0,10.4–18.3,20.0,11.6,13.4,38.0,28.8,100.0
1615,1501+,Ochanomizu University,Japan,2743,14.9,6.0,100 : 0,10.4–18.3,28.6,13.9,7.7,39.4,26.8,100.0

Regarding the column "OverAll Score", there is an issue for the most values, which are not convertible to floats due to the presence of a "-" pointing to a range (see below)

In [48]:
df_univ[df_univ["OverAll Score"].apply(lambda x: "–" in str(x))]

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female:Male Ratio_modif
199,201–250,Aalto University,Finland,13306,19.7,21.0,38 : 62,51.2–54.3,38.3,40.4,67.5,53.2,81.9,0.612903
200,201–250,University of Bergen,Norway,15202,12.8,10.0,60 : 40,51.2–54.3,30.2,32.7,85.7,41.7,76.4,1.500000
201,201–250,Bielefeld University,Germany,24875,66.6,7.0,58 : 42,51.2–54.3,33.1,42.4,84.2,42.9,48.5,1.380952
202,201–250,University of Calgary,Canada,33560,18.7,21.0,54 : 46,51.2–54.3,36.8,40.2,75.9,61.6,79.9,1.173913
204,201–250,University of Dundee,United Kingdom,13630,18.3,27.0,64 : 36,51.2–54.3,25.8,30.5,90.3,49.5,85.4,1.777778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1692,1501+,Wrocław University of Science and Technology,Poland,23657,20.3,6.0,35 : 65,10.4–18.3,17.9,16.0,14.9,45.5,27.3,0.538462
1693,1501+,Yamaguchi University,Japan,10724,11.1,7.0,38 : 62,10.4–18.3,21.3,12.3,13.9,43.8,30.4,0.612903
1694,1501+,Yanshan University,China,38649,13.2,1.0,39 : 61,10.4–18.3,17.2,10.9,18.3,46.9,17.0,0.639344
1695,1501+,Yeditepe University,Turkey,17038,28.2,5.0,55 : 45,10.4–18.3,18.8,12.2,10.5,65.7,29.6,1.222222
1696,1501+,Zonguldak Bülent Ecevit University,Turkey,28319,25.4,8.0,47 : 53,10.4–18.3,13.2,8.2,23.5,38.9,23.1,0.886792

We will here again split these strings and keep only the lowest number of the range as overall score.

In [49]:
def simplify_score(score_range):
    if "–" in str(score_range):
        split = score_range.split("–")
        score = float(split[0])
    else:
        score = float(score_range)
    return score

df_univ["OverAll Score"] = df_univ["OverAll Score"].apply(lambda x: simplify_score(x))
df_univ.tail(25)

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female:Male Ratio_modif
1671,1501+,Telkom University,Indonesia,18977,18.2,1.0,43 : 57,10.4,14.1,10.5,20.3,40.5,29.4,0.754386
1672,1501+,Temuco Catholic University,Chile,10629,12.3,1.0,60 : 40,10.4,16.0,10.1,7.9,38.3,41.5,1.500000
1673,1501+,Tokyo University of Agriculture,Japan,12907,32.7,1.0,43 : 57,10.4,15.8,10.1,15.3,38.7,21.3,0.754386
1674,1501+,Tokyo City University,Japan,7415,15.5,2.0,24 : 76,10.4,16.3,10.3,5.1,46.6,23.0,0.315789
1675,1501+,Tokyo Denki University,Japan,9846,28.5,3.0,13 : 87,10.4,15.0,9.6,1.7,40.2,19.5,0.149425
1676,1501+,Tokyo University of Pharmacy and Life Sciences,Japan,3853,18.9,1.0,52 : 48,10.4,17.5,7.8,11.2,38.0,18.4,1.083333
1677,1501+,Tottori University,Japan,5995,8.1,2.0,38 : 62,10.4,23.3,12.3,14.4,39.6,22.6,0.612903
1678,1501+,Toyo University,Japan,30465,24.2,6.0,43 : 57,10.4,14.4,9.0,4.8,37.9,30.9,0.754386
1679,1501+,University of Tunis,Tunisia,16418,12.8,2.0,68 : 32,10.4,20.5,9.6,14.7,37.0,38.2,2.125000
1680,1501+,Universitas Andalas,Indonesia,32537,21.6,0.0,55 : 45,10.4,23.9,9.1,10.7,43.4,16.7,1.222222
1681,1501+,Universiti Malaysia Sabah (UMS),Malaysia,17068,19.0,4.0,67 : 33,10.4,16.3,12.6,16.5,37.5,40.1,2.030303
1682,1501+,Uşak University,Turkey,20902,38.1,11.0,47 : 53,10.4,12.3,10.0,10.5,39.1,28.2,0.886792
1683,1501+,Utsunomiya University,Japan,4829,14.1,4.0,37 : 63,10.4,19.0,11.6,3.0,40.2,24.5,0.587302
1684,1501+,University of Valparaíso,Chile,16371,18.3,2.0,58 : 42,10.4,15.5,11.4,18.6,37.0,47.8,1.380952
1685,1501+,Van Yüzüncü Yil University,Turkey,20523,17.0,3.0,44 : 56,10.4,17.4,22.7,10.4,61.0,19.4,0.785714
1686,1501+,Vietnam National University (Ho Chi Minh City),Vietnam,75704,21.7,1.0,46 : 54,10.4,15.1,10.1,20.7,41.5,35.6,0.851852
1688,1501+,Walailak University,Thailand,8553,13.3,1.0,73 : 27,10.4,17.7,10.6,14.5,37.2,36.0,2.703704
1689,1501+,University of Warmia and Mazury in Olsztyn,Poland,17690,17.7,2.0,59 : 41,10.4,16.8,12.2,20.6,39.2,21.4,1.439024
1690,1501+,University of West Attica,Greece,34530,33.6,0.0,49 : 51,10.4,12.0,9.8,22.8,37.3,26.0,0.960784
1691,1501+,West University of Timişoara,Romania,14527,24.6,6.0,66 : 34,10.4,18.7,13.4,16.8,37.7,28.7,1.941176
1692,1501+,Wrocław University of Science and Technology,Poland,23657,20.3,6.0,35 : 65,10.4,17.9,16.0,14.9,45.5,27.3,0.538462
1693,1501+,Yamaguchi University,Japan,10724,11.1,7.0,38 : 62,10.4,21.3,12.3,13.9,43.8,30.4,0.612903
1694,1501+,Yanshan University,China,38649,13.2,1.0,39 : 61,10.4,17.2,10.9,18.3,46.9,17.0,0.639344
1695,1501+,Yeditepe University,Turkey,17038,28.2,5.0,55 : 45,10.4,18.8,12.2,10.5,65.7,29.6,1.222222
1696,1501+,Zonguldak Bülent Ecevit University,Turkey,28319,25.4,8.0,47 : 53,10.4,13.2,8.2,23.5,38.9,23.1,0.886792

In [50]:
df_univ.shape

(1485, 14)

### Feature engineering

The idea here is to create a new column that will break down the No of students into range categories. This will allow for more visualization options.

In [53]:
bins = [0, 5000, 10000, 15000, 20000, 25000, 30000, 40000, 50000, np.inf]
labels = ["-5000", "5000-10000", "10000-15000", "15000-20000", "20000-25000", "25000-30000", "30000-40000", "40000-50000", "50000+"]

df_univ["number_students_cat"] = pd.cut(df_univ["No of student"], bins=bins, labels=labels)

df_univ.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female:Male Ratio_modif,number_students_cat
0,1,University of Oxford,United Kingdom,20965,10.6,42.0,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2,0.923077,20000-25000
1,2,Harvard University,United States,21887,9.6,25.0,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5,1.000000,20000-25000
2,3,University of Cambridge,United Kingdom,20185,11.3,39.0,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8,0.886792,20000-25000
3,3,Stanford University,United States,16164,7.1,24.0,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8,0.851852,15000-20000
4,5,Massachusetts Institute of Technology,United States,11415,8.2,33.0,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3,0.666667,10000-15000

Now, we can save the updated dataframe in Excel format, so that it can be used to create a dashboard in Power BI.

In [54]:
import openpyxl

df_univ.to_excel("university_ranking_2023.xlsx", index=False)